<p>
 <%= @user.username %>
</p>

<p>
 <%= @user.location_count %> locations recorded.
</p>

<p>
last 10
<table>
  <thead>
  <td> Date </td>
  <td> Latitude </td>
  <td> Longitude </td>
  <td> Provider </td>
  </thead>
  <% Location.last_for(@user.username, 10).each do |location| %>
  <tr>
   <td> <%=location.date %> </td>
   <td> <%=location.position.latitude %> </td>
   <td> <%=location.position.longitude %> </td>
   <td> <%=location.provider %> </td>
  </tr>
  <% end %>
</table>
</p>