<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/favicon.png" type="image/png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/socket.io/socket.io.js" %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
  <script>
    current_user = {}
    iceCondor.setup();
    iceCondor.on('auth', auth_callback)
    login_verify();
  </script>
</head>


<body id="body">
  <%= render :partial => "layouts/navbar" %>
  <%= render :partial => "layouts/alert" %>

  <div class="container">
    <%= yield %>

    <%= render :partial => "layouts/footer" %>
  </div>

<%= render :partial => "layouts/google" %>
</body>

</html>
