<!DOCTYPE html>
<html lang="en">
<head>
  <title>Icecondor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <%= stylesheet_link_tag "bare" %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>


<body id="body">
  <%= render :partial => "layouts/alert" %>

  <div class="container-fluid">
    <%= yield %>

  </div>
</body>

</html>
